.photos-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 100%;
}

.table-wrapper {
  flex: 1;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 2;
}

mat-paginator {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.photo-container {
  position: relative;
}

.skeleton-loader {
  background-color: #e0e0e0;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.loading-animation::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: loading-visor 1.5s infinite;
}

@keyframes loading-visor {
  0% {
    left: -150px;
  }
  100% {
    left: 150px;
  }
}

.error-text {
  color: red;
  font-size: 14px;
  text-align: center;
}

.hidden {
  display: none;
}


.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
